/* body {
    font-family: Arial, sans-serif;
    background: url('src/assets/images/wmremove-transformed (2).jpeg') no-repeat center center fixed;
    background-size: cover;
  } */

  .complaints-bg{
    background-image:url("/assets/images/wmremove-transformed (2).jpeg");
          background-repeat:"no-repeat";
          background-size:"cover";
          background-position:"center";
  }

  