/* body {
    font-family: Arial, sans-serif;
    background: url('D:\8th_Sem_Project\Buyer_talk\src\assets\images\photo-1423666639041-f56000c27a9a.avif') no-repeat center center fixed;
    background-size: cover;
    
  } */